---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

{% if site.author.googlescholar %}
  <div class="wordwrap"> My full publication list can be found in <a href="{{site.author.googlescholar}}">my Google Scholar profile</a>. Most of them are avaiable on <a href="{{https://arxiv.org/}}">arXiv</a>.</div>
{% endif %}

{% include base_path %}           


<p style="margin-top: 40px;"> 
<b>Selected Publications</b> 
</p>

<p>
[J15] H. Zhang, W. Wang, <b>H. Zhou</b>, Z. Lu, and Ming. Li, “A Hierarchical DRL Approach for Resource Optimization in Multi-RIS Multi-Operator Networks,”  <em><b>IEEE Trans. on Wireless Communications</b></em>, pp.1-15, Feb. 2025.
</p>

<p>
[J14] Z. Yan, <b>H. Zhou</b>, H. Tabassum, and X. Liu, “Hybrid LLM-DDQN based Joint Optimization of V2I Communication and Autonomous Driving,” <em><b>IEEE Wireless Communications Letters</b></em>, pp.1-5, Feb 2025.
</p>

<p>
[J13] <b>H. Zhou</b>, C. Hu, D. Yuan, Y. Yuan, D. Wu, X. Chen, H. Tabassum, X. Liu, “Large Language Models (LLMs) for Wireless Networks: An Overview from the Prompt Engineering Perspective,” <em><b>IEEE Wireless Communications</b></em>, pp.1-10, Jan. 2025.
</p>

<p>
[J12] <b>H. Zhou</b>, C. Hu, D. Yuan, Y. Yuan, D. Wu, X. Liu, Z. Han, and C. Zhang, “Generative AI as a Service in 6G Edge-Cloud: Generation Task Offloading by In-context Learning,” <em><b>IEEE Wireless Communications Letters</b></em>, pp.1-5, Dec. 2024.
</p>

<p>
[J11] M. A. Habib, <b>H. Zhou</b>, PE. Iturria-Rivera, M. Elsayed, M. Bavand, R. Gaigalas, Y. Ozcan, and M. Erol-Kantarci, “Machine Learning-enabled Traffic Steering in O-RAN: A Case Study on Hierarchical Learning Approach,” <em><b>IEEE Communications Magazine</b></em>, vol.63, no.1, pp. 100-107, Jan. 2025.
</p>

<p>
[J10] S. Salhi, <b>H. Zhou</b>, M. Elsayed, M. Bavand, R. Gaigalas, and M. Erol- Kantarci, “Jamming Attacks and Mitigation in Transfer Learning Enabled 5G RAN Slicing,” <em><b>IEEE Trans. on Machine Learning in Communications and Networking</b></em>, vol. 2, pp. 1492-1508, Sep. 2024.
</p>

<p>
[J09] <b>H. Zhou</b>, C. Hu, Y. Yuan, Y. Cui, Y. Jin, C. Chen, H. Wu, D. Yuan, L. Jiang, D. Wu, X. Liu, C. Zhang, X. Wang, and J. Liu, “Large Language Model (LLM) for Telecommunications: A Comprehensive Survey on Principles, Key Techniques, and Opportunities,” <em><b>IEEE Communications Survey & Tutorials</b></em>, pp.1-52, Sep. 2024.
</p>

<p>
[J08] <b>H. Zhou</b>, M. Erol-Kantarci, Y. Liu, and H. V. Poor, “A Survey on Model-based, Heuristic, and Machine Learning Optimization Approaches in RIS-aided Wireless Networks,” <em><b>IEEE Communications Survey & Tutorials</b></em>, vol.26, no.2, pp.781-823, 2nd quarter, 2024.
</p>

<p>
[J07] <b>H. Zhou</b>, M. Erol-Kantarci, Y. Liu, and H. V. Poor, “Heuristic Algorithms for RIS-assisted Wireless Networks: Exploring Heuristic-aided Machine Learning,” <em><b>IEEE Wireless Communications</b></em>, vol.3, no.4, pp.1-9, Aug. 2024.
</p>

<p>
[J06] <b>H. Zhou</b>, M. Elsayed, M. Bavand, R. Gaigalas, S. Furr, and M. Erol-Kantarci, “Cooperative Hierarchical Deep Reinforcement Learning based Joint Sleep, Power, and RIS Control for Energy-Efficient RAN,” <em><b>IEEE Trans. on Cognitive Communications and Networking</b></em>, pp.1-15, Jul. 2024.
</p>

<p>
[J05] H. Zhang, <b>H. Zhou</b>, M. Elsayed, M. Bavand, R. Gaigalas, Y. Ozcan, and M. Erol-Kantarci, “On-Device Intelligence for 5G RAN: Knowledge Transfer and Federated Learning enabled UE-Centric Traffic Steering,” <em><b>IEEE Trans. on Cognitive Communications and Networking</b></em>, vol.10, no.2, pp. 689-705, Apr. 2023.
</p>

<p>
[J04] M. Razghandi, <b>H. Zhou</b>, M. Erol-Kantarci, and D. Turgut, “Smart Home Energy Management: VAE-GAN synthetic dataset generator and Q-learning,” <em><b>IEEE Trans. on Smart Grid</b></em>, vo.15, no.2, pp.1562-1573, May 2024.
</p>

<p>
[J03] <b>H. Zhou</b>, M. Erol-Kantarci, and H. V. Poor, “Knowledge Transfer and Reuse: A Case Study of AI-enabled Resource Management in RAN Slicing,” <em><b>IEEE Wireless Communications</b></em>, vol.30, no.5, pp.1-10, Oct. 2023.
</p>

<p>
[J02] <b>H. Zhou</b>, M. Erol-Kantarci, and H. V. Poor, “Learning from Peers: Deep Transfer Reinforcement Learning for Joint Radio and Cache Resource Allocation in 5G Network Slicing,” <em><b>IEEE Trans. on Cognitive Communications and Networking</b></em>, vol.8, no.4, pp.1925-1941, Dec.2022. 
<text style="color:red">IEEE ComSoc CSIM TC Best Journal Paper Award</text>
</p>

<p>
[J01] <b>H. Zhou</b>, A. Aral, I. Brandic, and M. Erol-Kantarci, “Multi-agent Bayesian Deep Reinforcement Learning for Microgrid Energy Management under Communication Failures,” <em><b>IEEE Internet of Things Journal</b></em>, vol.9, no.14,
pp.11685-11698, Jul. 2022. 
</p>

