---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

{% if site.author.googlescholar %}
  <div class="wordwrap"> My full publication list can be found in <a href="{{site.author.googlescholar}}">my Google Scholar profile</a>.</div>
{% endif %}

{% include base_path %}

<p>
<b>Selected Publications</b> 
</p>



<p>
[J01] <b>H. Zhou</b>, A. Aral, I. Brandic, and M. Erol-Kantarci, “Multi-agent Bayesian Deep Reinforcement Learning for Microgrid Energy Management under Communication Failures,” <em><b>IEEE Internet of Things Journal</b></em>, vol.9, no.14,
pp.11685-11698, Jul. 2022. 
</p>

